@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

button {
    border: 2px solid #ecbdcd;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s linear;
    font-size: 15px;
    color: #ecbdcd;
    margin-bottom: 60px;
}

*:focus {outline: none;}
button:hover {
    background: #ecbdcd;
    color: white;
    font-weight: bold;
}

#gridContainer {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid lightgray;
    border-radius: 5px;
    height: 575px;
    width: auto;
    max-width: 1000px;
  }
